* {
    box-sizing: border-box;
    color: black;
    border-color: bisque;
  }

.principal {
    display:flex;
    align-items:center;
    background-color: rgba(244, 226, 187, 0.79);
    color: black;
    flex: 70%;

}
#fotoprincipal {
    width: 25%;
    float: left;
    border-radius: 50%;
    align-items: center;
    margin: 5px;
}
span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    width: 75%;
    float: inline-end;
    text-align: center;
}
#bajonombre {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-style: oblique;
}
@media (max-width: 800px) {
    div {
        flex-direction: column;
    }
    .flex-container {
        flex-direction: column;
      }
    span {
        font-size: 30px;
    }
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    border-left: 10px;
    border-right: 10px;

  }

h3 {
    border-bottom: 2px solid black
    
}
h4{
    text-align: left;

}
.cuerpo {
    display: flex;
    justify-content: center;
    background-color: rgb(221, 211, 162);
  }
.cuerpo > div {
  background-color: #f1f1f1;
  margin: 5px;
  text-align: center;
  }
.cuerpoizquierda {
    background-color: #f1f1f1;
    padding: 15px;
    flex: 40%;
  }
  
.cuerpoderecha {
    background-color: dodgerblue;
    padding: 15px;
    flex: 60%;
  }
.redessociales {
    text-decoration: none;
    font-size: 28px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background-color: rgb(225, 222, 205);
    color: black;
    box-shadow: 2px 2px 5px rgba(0,0,0, .5);
    transition: all .4s ease-in-out;
}
.redessociales :hover {
    transform: scale(1.2);
}
.contacto, button {
    min-width: fit-content;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    height: 60px;
    text-align: left;
    line-height: 60px;
    background-color: rgb(225, 222, 205);
    color: black;
    box-shadow: 2px 2px 5px rgba(0,0,0, .5);
    transition: all .4s ease-in-out;
    border-left: 5px;
    align-items: center;
}
.contacto :hover {
    transform: scale(1.2);
}
.formacion {
    text-align: left;
}
dl, dt {
    text-align: left;
}
dt {
    font-weight: bold;
    font-size: 20px;
}
dd{
    font-weight: 15px;
}
